/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
:root{
  --main-color: #2196f3;
  --p-c: #777;
  --footer-color: #cacaca;
  --main-transition: .3s;
  --main-padding: 100px;
  --background-section: #ececec;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style: none;
}
.container{
  padding: 0 15px;
  margin: 0 auto;
}
/* small */
@media (min-width: 768px){
  .container{
    width: 750px
  }
}
/* medium */
@media (min-width: 992px){
  .container{
    width: 970px
  }
}
/* larg */
@media (min-width: 1200px){
  .container{
    width: 1170px
  }
}
.main-title{
  padding: 15px 25px;
  position: relative;
  margin: 0 auto 100px;
  width: fit-content;
  font-size: 20px;
  text-transform: uppercase;
  border: 3px solid black;
  transition: var(--main-transition);
  z-index: 1;
}
@media (max-width: 767px){
  .main-title{
    font-size: 15px;
  }
}
.main-title h1{
  margin: 0;
  text-transform: uppercase;
}
.main-title::before,
.main-title::after{
  content: '';
  position: absolute;
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.main-title::before{
  left: -35px;
}
.main-title::after{
  right: -35px;
}
.main-title:hover::before{
  animation: move-right .5s  linear forwards;
  
}
.main-title:hover::after{
  animation: move-left .5s  linear forwards;
}
.main-title:hover{
  transition-delay: .5s;
  color: white;
  border-color: var(--main-color);
}
.spikes{
  position: relative;
}
.spikes::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/* End Global Rules */
/* start animation */
@keyframes up-and-down{
  0%, 100%{
    top: 0;
  }
  50%{
    top: 40px;
  }
}
@keyframes bouncing{
  0%, 10%, 20%, 30%, 50%, 70%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-10px);
  }
}
@keyframes move-right{
  50%{
    left: 0px;
    width: 15px;
    height: 15px;
    border-radius:50%;
  }
  100%{
    left: 0;
    width: 70%;
    height: calc(100% + 3px);
    border-radius: 0;
  }
}
@keyframes move-left{
  50%{
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius:50%;
  }
  100%{
    right: 0;
    width: 70%;
    height: calc(100% + 3px);
    border-radius: 0;
  }
}
@keyframes moving-arrow{
  80%{
    transform: translateX(10px);
    color: #006785
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes flashing {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-background {
  from{
    background-image: url(../Image/discount-background1.jpg);
  }
  to{
    background-image: url(../Image/discount-background2.jpg);
  }
}
/* end animation */
/* start head */
.header{
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
@media (max-width: 767px) {
  .header .container{
    justify-content: center;
  }
}
.header .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}
.header .container .logo a{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--main-color);
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  .header .container .logo {
    width: 100%;
    height: 50px;
  }
}
.header .container > ul{
  display: flex;
}
.header .container > ul > li > a{
  color: black;
  padding: 15px;
  margin-left: 5px;
  margin-top: 2px ;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .container > ul > li > a{
    font-size: 13px;
    height: 50px;
  }
}
.header .container > ul > li > a::before{
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .container > ul > li > a:hover{
  color: var(--main-color);
  background-color: #efefef;
}
.header .container > ul > li > a:hover::before{
  left: 0;
}
.header .container > ul > li:last-child:hover .mega-menu{
  z-index: 20;
  opacity: 1;
  top: calc(100% + 2px);
}
.header .mega-menu{
  position: absolute;
  display: flex;
  gap: 40px;
  width: 100%;
  top: calc(100% + 50px);
  left: 0;
  background-color: rgba(255, 255, 255);
  border-bottom: 4px solid var(--main-color);
  transition: var(--main-transition);
  z-index: -1;
  opacity: 0;
}
@media (max-width: 767px){
  .header .mega-menu{
    flex-direction: column;
    gap: 0;
    padding: 0 30px;
  }
}
.header .mega-menu .image{
  width: 600px;
  text-align: center;
}
@media (max-width: 991px){
  .header .mega-menu .image{
    display: none;
  }
}
.header .mega-menu img{
  width: 400px;
  max-width: 100%;
}
.header .mega-menu .links{
  flex: 1;
  min-width: 250px;
}
.header .mega-menu .links li{
  position: relative;
}
.header .mega-menu .links li:not(:last-child){
  border-bottom: 1px solid #e7e7e7;
}
@media (max-width: 767px){
  .header .mega-menu .links:first-of-type li:last-of-type{
    border-bottom: 1px solid #e7e7e7;
  }
}
.header .mega-menu .links li::before{
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #f1eeee;
  transition: var(--main-transition);
  z-index: -1;
}
.header .mega-menu .links :hover::before{
  width: 100%;
}
.header .mega-menu .links li a{
  display: block;
  color: var(--main-color);
  font-size: 18px;
  padding: 20px;
  padding-left: 10px;
}
.header .mega-menu .links li i{
  color: #006785;
  margin-right: 15px;
}
/* end head */
/* start landing */
.landing{
  position: relative;
  overflow: hidden;
}
.landing::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background-section);
  top: -100px;
  left: 0;
  z-index: -1;
  transform: skewY( -6deg);
}
.landing .container{
  display: flex;
  align-items: center;
  height: calc(100vh - 75px);
  position: relative;
}
@media (max-width: 991px){
  .landing .container{
    padding: 200px 0;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}
.landing .container .image {
  flex: 1;
}
.landing .container .image img{
  position: relative;
  width: 600px;
  max-width: 100%;
  animation: up-and-down 2.5s linear infinite;
}
.landing .container .text {
  order: -1;
  flex: 1;
}
.landing .container .text h1{
  font-size: 40px;
  letter-spacing: -1px;
  margin: 0;
}
@media (max-width: 767px){
  .landing .container .text h1{
    font-size: 30px;
  }
}
.landing .container .text p{
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.8;
  color: var(--p-c);
}
.landing .go-down{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  color: var(--main-color);
  transition: var(--main-transition);
  animation: bouncing 2.5s linear infinite;
}
.landing .go-down:hover{
  color: black;
}
/* end landing */
/* start articles */
.articles{
  padding: var(--main-padding) 0;
}
.articles .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .container .box{
  box-shadow: 0 0 10px 5px #ddd;
  background-color: white;
  transition: var(--main-transition);
}
.articles .container .box:hover{
  transform: translateY(-20px);
}
.articles .container img{
  max-width: 100%;
}
.articles .container .text{
  padding: 20px;
  border-bottom: 3px solid #e7e7e7;
}
.articles .container .text h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.articles .container .text p{
  line-height: 1.4;
  color: var(--p-c);
}
.articles .container .info{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
}
.articles .container .info a{
  display: block;
  color: var(--main-color);
}
.articles .box:hover .info i{
  animation: moving-arrow .5s linear infinite;
}
/* end articles */
/* start gallery */
.gallery{
  padding: var(--main-padding) 0;
  background-color: var(--background-section);
}
.gallery .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .box{
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
}
.gallery .box .image{
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before{
  content: '';
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  z-index: 2;
}
.gallery .box .image:hover::before{
  animation: flashing .5s linear;
}
.gallery .image img{
  max-width: 100%; 
  transition: var(--main-transition);
}
.gallery .box .image:hover img{
  transform: rotate(5deg) scale(1.2);
}
/* end gallery */
/* start features */
.features{
  padding: var(--main-padding) 0;
}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
  gap: 30px;
}
.features .box{
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
}
.features .box .image-holder{
  position: relative;
  overflow: hidden;
}
.features .box .image-holder::before{
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% - 5px);
  top: 0;
  left: 0;
  opacity: .3;
}
.features .box.quality .image-holder::before{
  background-color: #f44036;
}
.features .box.time .image-holder::before{
  background-color: #009688;
}
.features .box.passion .image-holder::before{
  background-color: #03a9f4;
}
.features .box img{
  max-width: 100%;
}
.features .box .image-holder::after{
  content: '';
  position: absolute;
  width: 101%;
  height: 40%;
  background-color: #fff;
  bottom: -64px;
  left: 0;
  transform: skewY(-15deg);
  transition: var(--main-transition);
}
.features .box:hover .image-holder:after{
  transform: skewY(15deg);
}
.features .box h3{
  position: relative;
  font-size: 25px;
  margin: 0 auto;
  padding: 0px 0 20px;
}
.features .box h3::after{
  content: '';
  width: 70%;
  height: 3px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.features .box.quality h3::after{
  background-color: #f44036;
}
.features .box.time h3::after{
  background-color: #009688;
}
.features .box.passion h3::after{
  background-color: #03a9f4;
}
.features .box p{
  padding: 10px ;
  margin: 20px 0 40px;
  line-height: 1.5;
  text-align: center;
}
.features .box a{
  display: block;
  margin: 10px auto 40px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid ;
  border-radius: 10px;
  background-size: 200% 99%;
  background-position: right bottom;
  transition: var(--main-transition);
}
.features .box.quality a{
  border-color: #f44036;
  color: #f44036;
  background-image: linear-gradient(to right,#f44036 50%, white 50%);
}
.features .box.time a{
  border-color: #009688;
  color: #009688;
  background-image: linear-gradient(to right, #009688 50%, white 50%);
}
.features .box.passion a{
  border-color: #03a9f4;
  color: #03a9f4;
  background-image: linear-gradient(to right, #03a9f4 50%, white 50%);
}
.features .box:hover a{
  background-position: left bottom;
  color: white ;
}
/* end features */
/* start testimonials */
.testimonials{
  padding: var(--main-padding) 0;
  background-color: var(--background-section);
}
.testimonials .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box{
  background-color: white;
  position: relative;
}
.testimonials .box img{
  width: 90px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15%, -35%);
  border: 10px solid var(--background-section);
}
.testimonials .box{
  padding: 20px;
}
.testimonials .box h4{
  font-weight: bold;
  font-size: 20px;
}
.testimonials .box span{
  display: block;
  margin: 10px 0;
  color: var(--p-c);
}
.testimonials .box .rate i.solid{
  color: #fbbf06;
}
.testimonials .box p{
  padding: 10px 0;
  line-height: 1.8;
  color: var(--p-c);
}
/* end testimonials */
/* start team-members  */
.team-members{
  padding: var(--main-padding) 0;
}
.team-members .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team-members .box{
  padding-top: 50px;
  position: relative;
}
.team-members .box::before,
.team-members .box::after{
  content: '';
  width: calc(100% - 50px);
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  transition: var(--main-transition);
}
.team-members .box::before{
  background-color: var(--background-section);
  width: calc(100% - 50px);
  z-index: -2;
}
.team-members .box::after{
  width: calc(100% - 50px);
  background-color: #ddd;
  transform: scale(.6);
  z-index: -1;
}
.team-members .box:hover::after{
  transform: scale(1);
}
.team-members .box .data{
  display: flex;
  align-items: center;
}
.team-members .box img{
  width: calc(100% - 50px);
  border-radius: 20px;
}
.team-members .box .data .links{
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team-members .box .data .links a{
  color: var(--p-c); 
}
.team-members .box .data .links a i{
  transition: var(--main-transition);
}
.team-members .box .links a:hover .fa-facebook{
  color: #0983f0;
  transform: scale(1.5) rotate(5deg);
}
.team-members .box .links a:hover .fa-youtube{
  color: #fe0000;
  transform: scale(1.5) rotate(5deg);
}
.team-members .box .links a:hover .fa-twitter{
  color: #1aa2f8;
  transform: scale(1.5) rotate(5deg);
}
.team-members .box .links a:hover .fa-whatsapp{
  color: #23c861;
  transform: scale(1.5) rotate(5deg);
}
.team-members .box .text{
  padding: 20px;
  margin-left: 50px;
}
.team-members .box .text h4{
  font-size: 20px;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 10px;
}
.team-members .box .text p{
  color: var(--p-c); 
}
/* end team-members  */
/* start services */
.services{
  padding: var(--main-padding) 0;
  background-color: var(--background-section);
}
.services .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services .box{
  background-color: white;
  text-align: center;
  counter-increment: cont;
  position: relative;
  transition: var(--main-transition);
}
.services .box:hover{
  transform: translateY(-10px);
}
.services .box::before{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.services .box:hover:before{
  width: 100%;
}
.services .box i{
  color: var(--p-c);
  font-size: 60px;
  margin-top: 40px;
}
.services .box h3{
  color: var(--main-color);
  margin: 20px 0;
  font-weight: bold;
}
.services .box .link{
  background-color: #f7f7f7;
  padding: 15px;
  position: relative;
}
.services .box .link::before{
  content: "0"counter(cont);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  padding-right: 10px ;
  width: 15%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .box .link::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 7%;
  background: #ddd;
  top: 0;
  left: 14%;
  transform: skewX(-20deg);
}
.services .box .link a{ 
  color: var(--main-color);
  display: flex;
  justify-content: flex-end;
}
/* end services */
/* start our-skills */
.our-skills{
  padding: var(--main-padding) 0;
}
.our-skills .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.our-skills .image{
  flex: 1;
}
@media (max-width: 991px) {
  .our-skills .image{
    display: none;
  }
}
.our-skills .image img{
  max-width: 100%;
}
.our-skills .skills{
  flex: 1.5;
}
.our-skills .skills .skill{
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .our-skills .skills .skill{
    padding: 0 50px;
  }
}
.our-skills .skills .skill h5{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.our-skills .skill .prog{
  background-color: #ededed;
  width: 100%;
  height: 22px;
  position: relative;
}
.our-skills .skill .prog span{
  height: 100%;
  display: inline-block;
  background-color: var(--main-color);
}
.our-skills .skill .prog span::after{
  content: attr(data-progress);
  padding: 2px 5px;
  font-size: 12px;
  color: var(--main-color);
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: calc(-100% - 12px);
}
/* end our-skills */
/* start work-steps */
.work-steps{
  padding: var(--main-padding) 0;
  background-color: var(--background-section);
}
.work-steps .container{
  display: flex;
  align-items: center;
}
@media (max-width:991px) {
  .work-steps .container{
    flex-direction: column;
    gap: 50px;
  }
}
.work-steps .image,
.work-steps .content{
  flex: 1;
}
.work-steps .container img{
  max-width: 100%;
}
.work-steps .content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.work-steps .content .box{
  background-color: #f7f5f6;
  border: 2px solid white;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .work-steps .content .box{
    flex-direction: column;
    text-align: center;
  }
}
.work-steps .content img{
  width: 75px;
}
@media (max-width: 767px) {
  .work-steps .content img{
    width: 100px;
  }
}
.work-steps .content .info h3{
  font-size: 17px;
  margin-bottom: 15px;
}
.work-steps .content .info p{
  line-height: 1.8;
  color: var(--p-c);
}
/* st work-steps */
/* start events */
.events{
  padding: var(--main-padding) 0;
}
.events .container{
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width:991px) {
  .events .container{
    flex-direction: column;
  }
  
}
.events .image{
  flex: 1;
  display: flex;
  justify-content: center;
}
.events .image img{
  max-width: 300px;
  margin: 0 auto;
}
.events .content{
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.events .content .date{
  display: flex;
  gap: 10px;
  align-items: center;
}
.events .content .date > div{
  border: 3px solid #ddd;
  border-radius: 10px;
}
.events .content .date > div .num{
  padding: 15px;
  font-size: 22px;
  text-align: center;
  color: var(--main-color);
  border-bottom: 3px solid #ddd;
}
.events .content .date > div .time{
  padding: 5px 10px;
  font-size: 10px;
  text-align: center;
}
.events .content h4{
  font-weight: bold;
  font-size: 30px;  
}
@media (max-width: 767px){
  .events .content h4{
    font-size: 25px;
  }
}
.events .content p{
  text-align: center;
  line-height: 2;
  color: var(--p-c);
}
.events .subscribe{
  width: 600px;
  max-width: 90%;
  display: flex;
  gap: 15px;
  margin: 50px auto 0;
  background-color: var(--background-section);
  padding: 30px;
  border-radius: 40px;
}
@media (max-width: 767px) {
  .events .subscribe{
    max-width: 90%;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
  }
}
.events .subscribe input[type="email"]:focus,
.events .subscribe input[type="submit"]:focus{
  outline: none;
}
.events .subscribe input[type="email"] {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 40px;
  caret-color: var(--main-color);
}
.events .subscribe input[type="email"]::placeholder{
  transition: var(--main-transition);
}
.events .subscribe input[type="email"]:focus::placeholder{
  opacity: 0;
}
@media (max-width: 767px){
  .events .subscribe input[type="email"]{
    width: 100%;
    border-radius: 10px;
  }
}
.events .subscribe input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
@media (max-width: 767px){
  .events .subscribe input[type="submit"]{
    border-radius: 10px;
  }
}
/* end events */
/* start pricing */
.pricing{
  padding: var(--main-padding) 0;
  background-color: var(--background-section);
}
.pricing .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.pricing .plan{
  background-color: white;
  padding: 30px 0;
  text-align: center;
  box-shadow: 0 0 10px 5px #a9a9a9;
  position: relative;
  z-index: 1;
}
.pricing .plan::before,
.pricing .plan::after{
  content: '';
  height: 50%;
  width: 0;
  background-color: #ececec;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing .plan::before{
  top: 0;
  left: 0;
}
.pricing .plan::after{
  bottom: 0;
  right: 0;
}
.pricing .plan:hover::before,
.pricing .plan:hover::after{
  width: 100%;
}
.pricing .plan.popular{
  transform: translateY(-10px);
  position: relative;
}
@media (max-width: 991px) {
  .pricing .plan.popular{
    transform: translateY(0);
  }
}
.pricing .plan span.most-pop{
  content: "Most Popular";
  position: absolute;
  padding: 10px 10px 30px;
  background-color: var(--main-color);
  color: white;
  writing-mode: vertical-lr;
  top: 0;
  right: 30px;
}
.pricing .plan span.most-pop::after{
  content: '';
  border: 20px solid transparent;
  border-bottom-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: var(--main-transition);
}
.pricing .plan:hover span.most-pop::after{
  border-bottom-color: #ececec;
}
.pricing .plan h3{
  font-size: 20px;
  font-weight: bold;
}
.pricing .plan > i{
  font-size: 90px;
  margin: 10px 0;
  color: var(--main-color);
}
.pricing .plan .price span:first-of-type{
  display: block;
  font-size: 35px;
  font-weight: bold;
  color: var(--main-color);
}
.pricing .plan .price span:last-of-type{
  display: block;
  font-size: 13px;
  margin: 10px 0 15px;
  color: var(--p-c);
}
.pricing .plan ul li{
  display: flex;
  padding: 15px 20px;
  gap: 10px;
  border-top: 1px solid #ececec;
}
.pricing .plan ul li i{
  color: var(--main-color);
}
.pricing .plan a{
  display: block;
  width: fit-content;
  margin: 10px auto 0;
  padding: 10px 15px;
  border: 3px solid var(--main-color);
  color: var(--main-color);
  border-radius: 10px;
  transition: var(--main-transition);
}
.pricing .plan a:hover{
  background-color: var(--main-color);
  color: white;
}
/* end pricing */
/* start videos */
.videos{
  padding: var(--main-padding) 0;
}
.videos .holder{
  display: flex;
  background-color: var(--background-section);
}
@media (max-width: 991px) {
  .videos .holder{
    flex-direction: column;
  }
}
.videos .holder .list{
  min-width: 300px;
  background-color: white;
  border: 1px solid var(--background-section);
}
.videos .holder .list .name{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  font-weight:bold;
}
.videos .holder .list ul li:not(:last-child){
  border-bottom: 1px solid var(--background-section);
}
.videos .holder .list ul li{
  padding: 15px;
  transition: var(--main-transition);
}
.videos .holder .list ul li:hover{
  background-color: #f7f7f7;
  color: var(--main-color);
}
.videos .holder .list ul li span{
  display: block;
  margin-top: 10px;
  color: var(--p-c);
}
.videos .holder .preview{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.videos .holder .preview img{
  max-width: 100%;
}
.videos .holder .preview .info{
  padding: 20px;
  background-color: white;
  width: 100%;
  text-align: center;
}
/* end videos */
/* start stats */
.stats{
  position: relative;
  padding: calc(var(--main-padding) / 2) 0;
  background-image: url(../Image/stats.jpg) ;
  background-size: cover;
  min-height: 300px;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
  /* z-index: -1; */
}
.stats .container{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.stats .container h1{
  margin: 0;
  text-align: center;
  z-index: 1;
}
.stats .stats-type{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  justify-content: center;
  gap: 15px;
}
.stats .stats-type .box{
  background-color: white;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}
.stats .stats-type .box::before,
.stats .stats-type .box::after{
  content: '';
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
  position: absolute;
}
.stats .stats-type .box::before{
  left: 0;
  top: 0;
}
.stats .stats-type .box::after{
  right: 0;
  bottom: 0;
}
.stats .stats-type .box:hover::before,
.stats .stats-type .box:hover::after{
  height: 100%;
}
.stats .stats-type .box i{
  font-weight: bold;
  font-size: 20px;
}
.stats .stats-type .box .num{
  font-size: 30px;
  font-weight: 900;
}
.stats .stats-type .box .name{
  color: var(--main-color);
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}
/* end stats */
/* start discount */
.discount{
  display: flex;
}
@media (max-width: 991px) {
  .discount{
    flex-direction: column;
  }
}
.discount > div{
  flex: 1;
  padding: var(--main-padding);
}
@media (max-width: 991px) {
  .discount > div{
    padding: calc(var(--main-padding) / 2) var(--main-padding);
  }
}
@media (max-width: 767px) {
  .discount > div{
    padding: 20px;
  }
}
.discount > div h3{
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .discount > div h3{
    font-size: 20px;
  }
}
.discount .offer{
  /* background-image: url() ;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px; */
  background-image: url(../Image/discount-background1.jpg);
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
.discount .offer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
.discount .offer p{
  line-height: 2;
  font-size: 15px;
  text-align: center;
}
.discount .offer img{
  max-width: 200px;
}
.discount .info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.discount .info input:not(:last-of-type),
.discount .info textarea{
  width: 100%;
  background: var(--background-section);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  border-bottom: 1px solid #ccc;
  caret-color: var(--main-color);
}
@media (max-width: 991px) {
  .discount .info input:not(:last-of-type),
  .discount .info textarea{
    width: 70%;
  }
}
@media (max-width: 767px) {
  .discount .info input:not(:last-of-type),
  .discount .info textarea{
    width: 90%;
  }
}
.discount .info input:not(:last-of-type):focus,
.discount .info textarea:focus{
  outline: none;
}
.discount .info input:not(:last-of-type)::placeholder,
.discount .info textarea::placeholder{
  transition: .5s;
}
.discount .info input:not(:last-of-type):focus::placeholder,
.discount .info textarea:focus::placeholder{
  opacity: 0;
}
.discount .info textarea{
  resize: none;
  flex: 1;
}
@media (max-width: 991px) {
  .discount .info textarea{
    min-height: 150px;
  }
}
.discount .info input[type="submit"]{
  width: 50%;
  padding: 5px;
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .discount .info input[type="submit"]{
  width: 25%;
  }
}
/* end discount */
/* start footer  */
.footer{
  background-color: black;
  color: white;
  padding: calc(var(--main-padding) / 2) 0 0;
}
.footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.footer .socials h3{
  margin-bottom: 10px;
  font-size: 30px;
}
.footer .socials .links a{
  display: inline-block;
  padding: 8px;
  background-color:#313131;
  color: var(--footer-color);
  margin-bottom: 10px;
  transition: var(--main-transition);
}
.footer .socials .links a:hover{
  background-color: white;
  transform: translateY(-4px);
}
.footer .socials .links a i{
  font-size: 17px;
  transition: var(--main-transition);
}
.footer .socials .links a:hover .fa-facebook{
  color: #0983f0;
}
.footer .socials .links a:hover .fa-youtube{
  color: #fe0000;
}
.footer .socials .links a:hover .fa-twitter{
  color: #1aa2f8;
}
.footer .socials p{
  line-height: 2;
  color: var(--footer-color);
}
.footer .important-links ul li{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
}
.footer .important-links ul li:not(:last-of-type){
  border-bottom: 1px solid #ccc;
}
.footer .important-links ul li i{
  color: var(--main-color);
}
.footer .important-links ul li a{
  font-size: 15px;
  color: var(--footer-color);
}
.footer .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .info .box{
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .info .box i{
  font-size: 18px;
  color: var(--main-color);
}
.footer .info .box p{
  font-size: 13px;
  line-height: 1.5;
  color: var(--footer-color);
}
.footer .images img{
  max-width: 78px;
  margin: 2px;
  border: 4px solid white;
}
.footer .copyright{
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  font-size: 13px;
}
/* end footer  */











